<img src="{{ constant('ROOT_URL') }}src-dev/views/images/MoufLogo.png">
<h1>Welcome!</h1>

{% if isUserfileAvailable %}
<p>The <code>{{ harmonyUsersFile }}</code> file has been detected. Logins/passwords from this file will be used to access Harmony.
	If you want to reset your login or password, delete the <code>{{ harmonyUsersFile }}</code> file and start again the installation procedure.</p>
{% else %}

<form action="{{ constant('ROOT_URL') }}install/install" method="post" role="form" data-toggle="validator">

	<p>Apparently, this is the first time you are running Harmony. You will need to install it.</p>

	<p>In order to connect to Harmony, you will need to create a login and a password.</p>

	<div class="form-group">
		<label class="control-label" for="login">Login</label>
		<div class="input-group">
			<input name="login" id="login" value="admin" type="text" placeholder="Your login" class="form-control" required />
			<div class="help-block with-errors"></div>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label" for="password">Password</label>
		<div class="input-group">
			<input name="password" id="password" value="" type="password" placeholder="Your password" class="form-control" required />
			<div class="help-block with-errors"></div>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label" for="password2">Password (check)</label>
		<div class="input-group">
			<input name="password2" id="password2" value="" type="password" placeholder="Confirm password" class="form-control" required data-match="#password" data-match-error="Passwords must match"   />
			<div class="help-block with-errors"></div>
		</div>
	</div>

	<p>Please click the install button below. This will create a file containing your encoded credentials in
		<code>{{ harmonyUsersFile }}</code>.</p>

	<input type="submit" value="Install" class="btn btn-primary" />
</form>

{% endif %}
